{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- [ Hover-table ] start -->
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5 class= >Facilities</h5>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-light">
                            <th scope="col">Id</th>
                            <th scope="col">Room Number</th>
                            <th scope="col">Room Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Edit</th>
                    </thead>
                    <tbody>
                        {% for rooms in room %}
                        <tr>
                            <td>{{rooms.id}}</td>
                            <td>{{rooms.room_number}}</td>
                            <td>{{rooms.toom_type.facilityName}}</td>
                            <td>{{rooms.price_per_night}}</td>
                            <td><a class="btn btn-sm btn-primary" href="{%url 'room_update' pk=rooms.id%}">Edit</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <a href="{%url 'room_new'%}" class="btn btn-primary my-3">Add Room</a>
          </div>
        </div>
      </div>
      <!-- [ Hover-table ] end -->
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}