{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- [ Hover-table ] start -->
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5 class= >Facilities</h5>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-light">
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Content</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Posted?</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                    </thead>
                    <tbody>
                        {% for x in blog %}
                        <tr>
                            <td>{{x.blog_id}}</td>
                            <td>{{x.blog_title}}</td>
                            <td>{{x.blog_content|truncatewords:5}}</td>
                            <td>{{x.blog_owner}}</td>
                            <td>{{ x.blog_status|yesno:"Yes,No" }}</td>
                            <td><a href = "{%url 'blog.update' pk=x.blog_id%}"> Edit Blog</a></td>
                            <td><a href = "{%url 'blog.delete' pk=x.blog_id%}"> Delete Blog</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <a href="{%url 'blog.add'%}" class="btn btn-primary my-3">Add new Blog</a>
          </div>
        </div>
      </div>
      <!-- [ Hover-table ] end -->
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}