{% extends "master.php" %}
{% load static %}

{% block title %}Welcome to Madonna's {% endblock %}

{% block content %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .content-container {
        text-align: center;
    }

    .dynamic-iframe {
        width: 50vw;
        height: 50vh;
    }
</style>

<div class="content-container">
    <div>
        <iframe class="dynamic-iframe" id="myIframe" frameborder="0" src="https://itch.io/embed-upload/9100753?color=333333" allowfullscreen=""></iframe>
    </div>

    <br>

    <button onclick="captureScreenshot()">Capture Screenshot</button>
</div>

<script>
      function captureScreenshot() {
          var iframe = document.getElementById('myIframe');
          
          // Ensure the iframe content has fully loaded
          iframe.onload = function() {
              var canvas = document.createElement('canvas');
              canvas.width = iframe.offsetWidth;
              canvas.height = iframe.offsetHeight;
              var context = canvas.getContext('2d');
              context.drawImage(iframe, 0, 0, iframe.offsetWidth, iframe.offsetHeight);
  
              // Convert the canvas content to a data URL
              var dataURL = canvas.toDataURL('image/png');
  
              // Create a link and trigger a download
              var link = document.createElement('a');
              link.href = dataURL;
              link.download = 'screenshot.png';
              link.click();
          };
      }
  </script>
  
{% endblock %}
